<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app>
          <v-toolbar-title>Vue & Vuetify及其在NetSuite中的应用</v-toolbar-title>
        </v-app-bar>

        <v-main>
          <v-container fluid>
            <v-list>
              <v-subheader>Vue</v-subheader>
              <v-list-item v-for="(item, i) in items" :key="i">
                <v-list-item-content>
                  <a :href="item.url" target="_blank">{{ item.text }} </a>
                </v-list-item-content>
              </v-list-item>
            </v-list>

            <v-divider></v-divider>
            <v-subheader>Vuetify</v-subheader>
            <v-list>
              <v-list-item v-for="(item, i) in items2" :key="i">
                <v-list-item-content>
                  <a :href="item.url" target="_blank">{{ item.text }}</a>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-container>
        </v-main>

        <v-footer app>
          <!-- -->
        </v-footer>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: () => ({
          items: [{ text: "介绍", url: "./vue/01-introduction.html" },
          {text: "数据绑定", url: "./vue/02-data-bind.html"},
          {text: "计算属性与侦听属性", url: "./vue/03-computed_and_watch.html"},
          {text: "生命周期钩子", url: "./vue/04-lifecycle_hooks.html"},
          {text: "事件处理", url: "./vue/05-event_handling.html"},
          {text: "Vue 2响应式", url: "./vue-2-reactivity"},
          {text: "Vue 3响应式", url: "./vue-3-reactivity"},
          {text: "Vue 组件：基本示例", url: "./vue-component/01-basic.html"},
          {text: "Vue 组件：组件的重复使用", url: "./vue-component/02-reusing.html"},
          {text: "Vue 组件：通过 Prop 向子组件传递数据", url: "./vue-component/03-prop.html"},
          {text: "Vue 组件：单个根元素", url: "./vue-component/04-single_root_element.html"},
          {text: "Vue 组件：监听子组件事件", url: "./vue-component/05-listen_to_child_components_events.html"},
          {text: "Vue 组件：使用事件抛出一个值-1", url: "./vue-component/06-emit_a_value_with_an_event_1.html"},
          {text: "Vue 组件：使用事件抛出一个值-2", url: "./vue-component/07-emit_a_value_with_an_event_2.html"},
          {text: "Vue 组件：组件上使用 v-model", url: "./vue-component/08-v-model_in_components.html"},
          {text: "Vue 插槽：插槽内容", url: "./vue-slot/01-slot_content.html"},
          {text: "Vue 插槽：编译作用域", url: "./vue-slot/02-slot_scope.html"},
          {text: "Vue 插槽：后备内容", url: "./vue-slot/03-fallback_content.html"},
          {text: "Vue 插槽：具名插槽", url: "./vue-slot/04-named_slot.html"},
          {text: "Vue 插槽：作用域插槽1", url: "./vue-slot/05-scoped_slot_1.html"},
          {text: "Vue 插槽：作用域插槽2", url: "./vue-slot/06-scoped_slot_2.html"},
          {text: "Vue 插槽：解构插槽Prop", url: "./vue-slot/06-scoped_slot_2.html"},
        ],
          items2: [{ text: "Application", url: "./vuetify/application.html" }],
        }),
      });
    </script>
  </body>
</html>
